server:
  port: ${port} #服务端口

spring:
  application:
    name: demo-microservice-gateway #指定服务名
  cloud:
    gateway:
      discovery:
        locator:
          lower-case-service-id: true
          enabled: true
      routes:
        - id: demo-microservice-sso
          uri: lb://demo-microservice-sso
          order: 1
          predicates:
            - Path=/api/sso/{segment}
          filters:
            - StripPrefix=2
        - id: demo-microservice-user
          uri: lb://demo-microservice-user
          order: 2
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=2
        - id: demo-microservice-admin
          uri: lb://demo-microservice-admin
          order: 2
          predicates:
            - Path=/admin/**
          filters:
            - StripPrefix=2
#        - id: rateLimit_route
#          uri: http://localhost:8000
#          order: 0
#          predicates:
#            - Path=/foo/**
#          filters:
#            - StripPrefix=1
#            - name: RateLimiter
#            - name: Hystrix
#              args:
#                name: fallbackcmd
#                fallbackUri: forward:/fallback
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 8000
    demo-microservice-sso:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000

feign:
  hystrix:
    enabled: true

eureka:
  client:
    registerWithEureka: true #是否将自己注册到Eureka服务中，默认为true
    fetchRegistry: true #是否从Eureka中获取注册信息，默认为true
    serviceUrl: #Eureka客户端与Eureka服务端进行交互的地址
      defaultZone: http://127.0.0.1:6868/eureka/,http://127.0.0.1:6869/eureka/
  instance:
    prefer-ip-address:  true  #将自己的ip地址注册到Eureka服务中
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port} #指定实例id

logging:
  level:
    root: debug
    org.springframework.cloud.gateway: trace
    org.springframework.http.server.reactive: debug
    org.springframework.web.reactive: debug
    reactor.ipc.netty: debug