server:
  port: ${port} #服务端口
spring:
  application:
    name: demo-microservice-sso #指定服务名
  thymeleaf:
    cache: false
eureka:
  client:
    registerWithEureka: true #是否将自己注册到Eureka服务中，默认为true
    fetchRegistry:  true  #是否从Eureka中获取注册信息，默认为true
    serviceUrl: #Eureka客户端与Eureka服务端进行交互的地址
      defaultZone: http://workstation:6868/eureka/,http://workstation:6869/eureka/
  instance:
    prefer-ip-address:  true  #将自己的ip地址注册到Eureka服务中
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port} #指定实例id
hystrix:
  command:
    default:
      execution:
        timeout:
          enabed: true
        isolation:
          thread:
            timeoutInMilliseconds: 8000
    demo-microservice-sso:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000

feign:
  hystrix:
    enabled: true
#logging:
#  level:
#    root: DEBUG
#  #    org.springframework.web: DEBUG
#  file: ../my_consume.log
#  pattern:
#    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger- %msg%n"
#    file: "%d{yyyy-MM-dd HH:mm} [%thread] %-5level %logger- %msg%n"